<h2>Log in</h2>
<div class="row">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, required: false, autofocus: true, :wrapper => :full_input %>
        <%= f.input :password, required: false, :wrapper => :full_input %>
        <%= f.input :remember_me , :wrapper => :full_input, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <br><br>
        <%= f.button :submit %>
      </div>
  <% end %>

</div>

<%= render "users/shared/links" %>
