
<p>
  <strong>First name:</strong>
  <%= customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= customer.last_name %>
</p>

<p>
  <strong>Display:</strong>
  <%= customer.display %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= customer.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= customer.email %>
</p>
