<div class="row">
  <%= simple_form_for(@customer) do |f| %>


      <!--<div class="form-inputs">-->
      <%= f.input :display, :wrapper => :full_input %>
      <%= f.input :first_name, :wrapper => :half_input %>
      <%= f.input :last_name, :wrapper => :half_input %>

      <%= f.input :phone_number, :wrapper => :half_input %>
      <%= f.input :email, :wrapper => :half_input %>
      <!--</div>-->

      <div class="form-actions">
        <%= f.button :submit %>
      </div>

  <% end %>


</div>
