<div class="container">

  <h1>Pages</h1>

  <!--<table>-->
  <!--<thead>-->
  <!--<tr>-->
  <!--<th>Title</th>-->
  <!--<th>Content</th>-->
  <!--<th colspan="3"></th>-->
  <!--</tr>-->
  <!--</thead>-->

  <!--<tbody>-->
  <ul class="collection with-header">
    <% @pages.each do |page| %>
        <li class="collection-header">
          <h4>
            <%= page.title %>
          </h4>
        </li>
<li class="collection-item">
  <div>            <%= page.content %></div>
</li>

        <li class="collection-item right">
          <div>

            <!--<a href="#!" class="secondary-content">-->
              <!--<i>-->
                <%= link_to 'Show', page %> |
                <%= link_to 'Edit', edit_page_path(page) %> |
                <%= link_to 'Destroy', page, method: :delete, data: {confirm: 'Are you sure?'} %>
              <!--</i>-->
            <!--</a>-->
          </div>

        </li>


    <% end %>
  </ul>
  <!--</tbody>-->
  <!--</table>-->

  <br>

  <%= link_to 'New Page', new_page_path %>

</div>