<h1>Projects</h1>


<ul class="collapsible popout" data-collapsible="accordion">
  <% @projects.each do |project| %>
      <li>
        <div class="collapsible-header"><%= project.name %> |
          <small><%= project.reference %></small>


        </div>
        <div class="collapsible-body">
<div class="pRight">
          <%= render partial: "customers/customer_chip", :locals => {:customer => project.customer}  %>
</div>
          <%= simple_format(project.description) %>
          <div class="pRight">
            <%= link_to 'Show', project %>
            <%= link_to 'Edit', edit_project_path(project) %>
            <%= link_to 'Destroy', project, method: :delete, data: {confirm: 'Are you sure?'} %></div>
          <br><br>
        </div>
      </li>
  <% end %>
</ul>


<br>

<%= link_to 'New Project', new_project_path %>

<br><br>