<br>

<%= render partial: @project.customer %>

<h2>


  <%= @project.name %> <small> <%= @project.reference %></small>
</h2>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<br><br>

<!-- Goals -->

<br>
<% if @project.goals.any? %>

<%= render partial: @project.goals %>

<% else %>
<h3><small>
  No Goals Found
</small></h3>
<% end %>


<!--%= link_to "New Goal", new_project_goal_path(@project) %>-->
<!--<button>Add Goal</button>-->
<a class="btn-floating btn-large waves-effect waves-light red right tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add New Goal" onclick="newGoal()" id="addForm"><i class="material-icons">add</i></a>
<a class="btn-floating btn-large waves-effect waves-light red right tooltipped" data-position="bottom" data-delay="50" data-tooltip="Remove Goal" onclick="endGoal()" id="hideForm" style="display: none"><i class="material-icons">add</i></a>

<script type="text/javascript" charset="utf-8">
function newGoal() {
  $("#goalForm").show();
  $("#addForm").hide();
  $("#hideForm").show();

}
function endGoal() {
  $("#goalForm").hide();
  $("#addForm").show();
  $("#hideForm").hide();
}
</script>


<%= render partial: "goals/form", :locals => {:@project => @project} %>
<!-- End of Goals -->
