<br>

<%= render partial: @project.customer %>

<h2>


  <%= @project.name %> <small> <%= @project.reference %></small>
</h2>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
