<div class="row">

  <%%= form_for(<%= singular_table_name %>, class: "col s12") do |f| %>


  <% attributes.each do |attribute| -%>
      <div class="input-field col s12">
        <% if attribute.password_digest? -%>

            <%%= f.password_field :password %>
            <%%= f.label :password %>
            </div>

            <div class="input-field col s12">

              <%%= f.password_field :password_confirmation %>
              <%%= f.label :password_confirmation %>
        <% elsif attribute.text? -%>
            <%%= f.<%= attribute.text_area %>, :class => "materialize-textarea" %>
            <%%= f.label :<%= attribute.column_name %> %>
        <% elsif attribute.reference? -%>
            <%%= f.collection_select :<%= attribute.column_name %>, <%= attribute.name.camelize %>.all, :id, :name,
            prompt: true %>
            <%%= f.label :<%= attribute.column_name %> %>
        <% else -%>

            <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %> %>
            <%%= f.label :<%= attribute.column_name %> %>
        <% end -%>
        </div>

  <% end -%>
  <!--<div class="actions">-->
  <%%= f.submit :class => "waves-effect waves-orange btn-flat" %>
  <!--</div>-->
  <%% end %>
</div>
