<p id="notice"><%= notice %></p>

<p>
  <strong>Problem:</strong>
  <%= @goal.problem %>
</p>

<%= link_to 'Edit', edit_project_goal_path(@project, @goal) %> |
<%= link_to 'Back', project_path(@project) %>

<br><br>
<h3>Solutions</h3>
<%= render @goal.solutions %>
<%= link_to "New Goal", new_project_goal_solution_path(@project, @goal) %>