<li class="collection-item avatar">
  <%= "<i class='material-icons circle #{status_color(solution.status)}'>#{status_icon(solution.status)}</i>".html_safe %>
  <span class="title">
    <%= solution.description %>
  </span>
  <p>
    <%= solution.status %>
    <br>
    <%= get_updated(solution) %>
  </p>
  <div class="secondary-content">
    <%= link_to 'Show', project_goal_solution_path(@project, @goal, solution) %> |
    <%= link_to 'Edit', edit_project_goal_solution_path(@project, @goal,solution) %> |
    <%= link_to 'Destroy', project_goal_solution_path(@project, @goal, solution), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

</li>
