<% sClass = "" if local_assigns[:sClass].nil? %>

<!--Static Pages-->
<li><%= link_to "Home", root_path, :class => sClass %></li>
<li><%= link_to "About", about_path, :class => sClass %></li>

<!--Projects-->
<li><%= link_to "Projects", projects_path, :class => sClass %></li>
<!--Customers-->
<li><%= link_to "Customers", customers_path, :class => sClass %></li>
<!--<li>%= link_to "Posts", posts_path, :class => sClass %></li>-->


<!--User Functions-->
<!--Not Signed In-->
<% if user_signed_in? %>

<% else %>
    <li><%= link_to "Sign In", new_user_session_path, :class => sClass %></li>
    <li><%= link_to "Sign Up", new_user_registration_path, :class => sClass %></li>
<% end %>
