<!DOCTYPE html>
<html>
<head>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!--META TAGS-->
  <%= display_meta_tags site: 'AWTS',
                        author: "google.com/+AWTechnicalSolutionsAlbuquerque",
                        publisher: "google.com/+AWTechnicalSolutionsAlbuquerque",
                        og: {
                            title: :title,
                            type: 'website',
                            url: request.original_url()
                        }
  %>




  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
</head>

<body>

<header>
  <nav class="z-depth-1">
    <div class="nav-wrapper">
      <!--<a href="#!" class="brand-logo">AWTS</a>-->
      <%= image_tag "http://res.cloudinary.com/awts/image/upload/c_scale,w_100/v1460887646/logo_shadow_fzmph9.png", :class => "brand-logo right" %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <%= render 'layouts/links' %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <%= render 'layouts/links' %>
      </ul>
    </div>
  </nav>


</header>
<main class="<%= controller_name %>">

  <div class="<%= request.env['PATH_INFO'].gsub(/\s+/, "") == "/about" or request.env['PATH_INFO'].gsub(/\s+/, "") == "/"? 'photos' : 'container' %>">
  <!--<div <= controller_name == "pages" ? '' : "class='container'" %>>-->

    <%= yield %>
  </div>

</main>


<!--Footer-->

<%= render 'layouts/footer' %>


<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>

<% flash.each do |key, value| %>
    <script type="text/javascript">
      Materialize.toast('<p><em><%= key.capitalize %> -- </em> <%= value %></p>', 5000, 'rounded')
    </script>
<% end %>
</body>
</html>
