<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!--META TAGS-->
  <%= display_meta_tags site: 'AWTS',
                        author: "google.com/+AWTechnicalSolutionsAlbuquerque",
                        publisher: "google.com/+AWTechnicalSolutionsAlbuquerque",
                        og: {
                            title: :title,
                            type: 'website',
                            url: request.original_url
                        }
  %>




  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>



  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="AWTS">
  <meta name="application-name" content="AWTS">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

</head>

<body>

<header>
  <nav class="z-depth-1">
    <div class="nav-wrapper">
      <!--<a href="#!" class="brand-logo">AWTS</a>-->
      <!--%= image_tag "http://res.cloudinary.com/awts/image/upload/c_scale,w_100/v1460946904/AW_Logo_nbvmgl.svg", :class => "brand-logo right" %>-->
      <span class="brand-logo awts-AW_Logo right"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <%= render 'layouts/links' %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <%= render 'layouts/links' %>
      </ul>
    </div>
  </nav>
</header>
<main class="<%= controller_name %>">

  <div class="
    <% if controller_name == "pages" %>
    <%= "photos" %>
  <% else %>
<%= "container" %>
    <% end %>">
    <%= yield %>

  </div>

</main>

<%= render 'layouts/footer' %>



</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>

<% flash.each do |key, value| %>
    <script type="text/javascript">
      Materialize.toast('<p><em><%= key.capitalize %> -- </em> <%= value %></p>', 5000, 'rounded')
    </script>
<% end %>
</html>
